p {
	margin: 0;
	padding: 0;
	border: 0;
}

.jumbotron {
	padding: 20px 0;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.jumbotron {
		padding: 15px 20px;
	}
}

.full-center {
	width: 100%;
	margin: 0;
	display: table;
}

@media (min-width: 980px) {
	.full-center {
		margin: 0 auto;
		max-width: 980px;
		width: 100%;
		display: table;
	}
}

#app-logo a {
	font-size: 15px;
	color: #555555 !important;
	text-decoration: none !important;
}

#app-user {
	margin: 20px 0 0 0;
}

#app-user #user-dropdown {
	color: black;
	text-decoration: none !important;
}

#app-user #user-dropdown:hover {
	color: #014c8c;
}

#app-user ul {
	padding: 0;
	right: 15px;
	-webkit-border-radius: 0 0 3px 3px;
	   -moz-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0 7px 10px -5px rgba(0,0,0,.175);
	   -moz-box-shadow: 0 7px 10px -5px rgba(0,0,0,.175);
			box-shadow: 0 7px 10px -5px rgba(0,0,0,.175);
}

#app-user ul li {
	padding: 5px 0;
}

#app-user ul li:hover {
	color: #262626;
	text-decoration: none !important;
	background-color: #f5f5f5;
}

#app-user .divider {
	padding: 0;
	margin: 0;
}

#app-user .glyphicon {
	margin-right: 10px;
}

@media (min-width: 768px) {
	#app-user {
		margin: 30px 0;
	}
	
	#app-user #user-dropdown {
		float: right !important;
	}
}

@media (max-width: 767px) {
	#app-logo, #app-user {
		text-align: center;
	}
	
	#app-user ul {
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
				border-radius: 0;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
		width: 100%;
		margin-top: 15px;
		border-left: 0;
		border-right: 0;
		right: 0;
	}
	
}

.navbar {
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
	border-width: 1px 0;
}

.navbar .navbar-sandwich {
	display: none;
}

@media (min-width: 768px) {
	.navbar .full-center {
		padding: 0 15px;
	}
}

.navbar-nav {
	margin: 0;
}

@media screen and (max-width:767px) {
	.navbar {
		min-height: unset;
	}
	
	.navbar li:not(:first-child) {
		display: none;
	}
	
	.navbar li a {
		float: left;
	}
	
	.navbar .navbar-sandwich {
		float: right;
		display: block !important;
	}
	
	.navbar.responsive {
	    position: relative;
	}
	
	.navbar.responsive li.navbar-sandwich {
	    position: absolute;
	    right: 0;
	    top: 0;
	}
	
	.navbar.responsive li {
	    display: block;
	    text-align: left;
	}
	
	.navbar.responsive li a {
		float: none;
	}
	
}

.form-group {
	margin-bottom: 0 !important;
}

main a {
	text-decoration: none !important;
	cursor: pointer;
	color: #000;
}

main a:hover {
	color: #014c8c;
	cursor: pointer;
}

main .panel {
	-webkit-border-radius: 0 0 3px 3px;
	   -moz-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
}

main .panel-heading {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

main .panel-heading .label {
	padding: 5px 10px;
}

main .btn-xs {
	font-size: 11px;
	-webkit-border-radius: 1px;
       -moz-border-radius: 1px;
			border-radius: 1px;
}

main .panel-heading h4 {
	margin: 3px 0;
}

main .panel-body #panel-search .form-group {
	width: 100%;
}

main .panel-body #panel-search button,
main .panel-body #panel-search input {
	-webkit-border-radius: 1px;
	   -moz-border-radius: 1px;
			border-radius: 1px;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

main .panel-body #panel-search .has-input {
	display: block;
	overflow: hidden;
}

main .panel-body #panel-search .has-input input {
	width: 100%;
	border-right: 0;
}

main .panel-body .table {
	margin-bottom: 0;
}

main .panel-body > :not(:first-child) {
	margin-top: 15px;
}

main .table > thead > tr > th {
	border-bottom: 1px solid #CCCCCC !important;
}

main table.table {
	border: 1px solid #CCCCCC;
}

main .table > tbody > tr > td > .course-btn:not(:first-child) > button {
	margin-right: 5px;
}

@media screen and (max-width:767px) {
	main .table > tbody > tr > td > .course-btn {
		display: none;
	}
}

main .panel-heading .panel-history span.glyphicon {
	font-size: 12px;
	top:0;
}

@media screen and (min-width: 768px) {
	main .course-description > p {
		margin-top: 0 !important;
	}
}

main .panel-body .form-group input,
main .panel-body .form-group textarea {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

main .btn-sm {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
	vertical-align: middle;
}

main .panel-footer .btn-sm:not(:first-child) {
	margin-right: 10px;
}

main .btn-sm span.glyphicon {
	top: 2px;
}

main .btn-sm strong {
	font-size: 11px;
}

.alert {
	margin-top: -20px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	border-right: 0;
	border-left: 0;
	padding: 15px !important;
}

.alert-dismissable .close,
.alert-dismissible .close {
	right: 0 !important;
}

@media screen and (min-width: 768px) {
	.alert .full-center {
		padding: 0 15px;
	}
}

.name-course {
	margin-top: 0 !important;
	text-align: right;
}

.node circle {
	fill: grey;
	stroke: black;
}

.node text {
	display: none;
}

.node.course.okay circle,
.node.teacher.okay circle {
	fill:lime;
}

.node.course.required circle,
.node.teacher.missing circle {
	fill: yellow;
}

.node:hover circle,
.node.active circle {
	stroke: red;
	stroke-width: 3px;
	cursor: pointer;
}

.node:hover text,
.node.active text {
	display: inherit;
}

select.form-control {
	-webkit-box-shadow: none !important;
	   -moz-box-shadow: none !important;
			box-shadow: none !important;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}

path.link {
	fill: none;
	stroke: #555;
	stroke-opacity: 0.4;
	stroke-width: 1.5px;
}

path.link:hover,
path.link.active {
	stroke: red;
	stroke-opacity: 1;
	stroke-width: 2px;
	cursor:pointer;
}
